    body {
        color: #40514E;
        background-color: white;
        margin: 0;
        text-align: center;
        /* www.cssfontstack.com */
        font-family: 'Merriweather', serif;
    }

    h1 {
        font-size: 5.625rem; /* 16px = 100% = 1em/1rem */
        margin: 50px auto 0 auto;
        font-family: 'Sacramento', cursive;
        color: #66BFBF;
        line-height: 2;
    }

    h2 {
        font-size: 2.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        color: #66BFBF;
        padding-bottom: 10px;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #11999E;
    }

    hr {
        border: dotted #EAF6F6 6px;
        border-bottom: none;
        width: 4%;
        margin: 100px auto 100px auto;
    }

    p {
        line-height: 2;
    }

    /* css3buttongenerator.com */
    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Merriweather', serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }

    .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
    }

    .bottom-container{
        color: #11999E;
        background-color: #66BFBF;
        padding: 50px 0 20px;
    }

    .bottom-cloud {
        position: absolute;
        left: 30%;
        bottom: 300px;
    }

    .c-img {
        width: 10rem;
        float: left;
        margin-right: 30px;
    }

    .code-img {
        width: 15rem;
        border-radius: 100px;
    }

    .contact-message {
        width: 40%;
        margin: 40px auto 40px auto;
    }

    .contact-me {
        margin: 100px;
    }

    .css-text {
        text-align: right;
    }

    .css-img {
        width: 10rem;
        float: right;
        margin-left: 30px;
    }
    
    .copy {
        color: #EAF6F6;
        margin-bottom: 0;
        font-size: 0.75rem;
        padding: 20px 0;
    }

    /*
    .code-skill-desc-left {
        clear: left;
    }
    
    .code-skill-desc-right {
        clear: right;
    }
    */

    .footer-link {
        color: #11999E;
        display: inline-block;
        font-family: 'Merriweather', serif;
        margin: 10px 20px;
        text-decoration: none;
    }

    .git-img {
        width: 10rem;
        float: left;
        margin-right: 30px;
    }

    .html-img {
        width: 10rem;
        float: left;
        margin-right: 30px;
    }

    .intro {
        width: 30%;
        margin: auto;
    }

    .java-text {
        text-align: right;
    }

    .js-img {
        width: 10rem;
        float: right;
        margin-left: 30px;
    }

    .top-container{
        background-color: #E4F9F5;
        position: relative;
        padding-top: 100px;
    }

    .my-pic {
        height: 200px;
        margin: 50px auto 0 auto;
    }

    .middle-container{
        margin: 100px 0;
    }

    .pro {
        text-decoration: underline;
    }
   
    .skill-row {
        width: 50%;
        margin: 100px auto 200px auto;
        text-align: left;
    }

    .skill-link {
        text-decoration: none;
    }

    .sql-text {
        text-align: right;
    }

    .sql-img {
        width: 10rem;
        float: right;
        margin-left: 30px;
    }

    .top-cloud {
        position: absolute;
        right: 30%;
        top: 40px;
    }